/* ============================================
 * Text Field Customization
 * ============================================ */

/* Styles for text fields */
.text-field,
.combo-box,
.choice-box {
    -fx-font-size: 14px;
    -fx-border-width: 1;
    -fx-background-color: -back-acc-sec-color;
    -fx-text-fill: -text-color;
    -fx-prompt-text-fill: -text-sec-color;

    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    
    -fx-border-color: -border-color;
}

.combo-box .arrow-button .arrow,
.choice-box .open-button .arrow {
    -fx-shape: -icon-arrow-down;
    -fx-background-color: -accent-color;
}

.combo-box-popup .list-view,
.choice-box .list-view{
    -fx-font-size: 14px;
    -fx-text-fill: -text-color;

    -fx-background-color: -back-primary-color;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 20, 0.3, 0, 5);

    -fx-padding: 5px;
}

.combo-box-popup .list-view .list-cell:hover,
.choice-box .list-view .list-cell:hover{
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;

    -fx-background-color: -back-acc-sec-color;
}

/* ============================================
 * Validation Style
 * ============================================ */

/* Styling for required fields */
.text-field.required,
.date-picker.required,
.choice-box.required,
.combo-box.required {
    -fx-border-color: -error-color;
}

/* ============================================
 * Chech Box Customization
 * ============================================ */

 /* Basic style to ckeck box */
 .check-box {
    -fx-text-fill: -text-color;
    -fx-effect: none !important;
 }

 /* Remove Box for custom icons */
 .check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-border-width: 0;

    -fx-max-height: 20;
    -fx-min-height: 20;
    -fx-pref-height: 20;

    -fx-max-width: 20;
    -fx-min-width: 20;
    -fx-pref-width: 20;
 }

 /* Define -icon-square like new default mark */
 .check-box .box .mark {
    -fx-shape: -icon-square;
    -fx-background-color: -text-color;

    -fx-border-width: 0;

    -fx-max-height: 20;
    -fx-min-height: 20;
    -fx-pref-height: 20;

    -fx-max-width: 20;
    -fx-min-width: 20;
    -fx-pref-width: 20;
 }

 .check-box:selected .box .mark {
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-shape: -icon-check-square;
 }

 .check-box:selected .box {
    -fx-border-width: 0;
    -fx-padding: 0;
 }

 .check-box:selected .box {
    -fx-background-radius: 5px;
    -fx-background-color: -info-color;
 }

 .check-box:indeterminate .box .mark {
    -fx-border-width: 0;
    -fx-shape: -icon-minus-square;
 }

 .check-box:indeterminate .box {
    -fx-background-radius: 5px;
    -fx-background-color: -warning-color;
 }